@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,400;1,900&display=swap');

:root {
    --primary-color: rgba(255, 255, 255, 0.6);
    --primary-color-active: white;
    --logo-color-1: rgb(0, 142, 208);
    --logo-color-2: rgb(232, 8, 27);
}

body {
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;

    color: var(--primary-color);

    font-family: "Alegreya Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}

/* Animations */
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

/* Background Panorama */
#panorama-player {
    position: absolute;
    z-index: 0;
    width:100%;
    height:100%;
    overflow:hidden;

    cursor: pointer;
}


/* Background Animation */
#particles-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);

    cursor: pointer;
}

/* Left Menu */
#left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 5px -6px black;

    transition: 1s;
}

#left-menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Spacer */
.spacer {
    background-color: var(--primary-color-active);
    width: 2px;
    height: 100px;
    margin: 0 auto;
}

/* Menu */
.menu-options {
    list-style-type: none;
    transform: rotate(180deg);
    padding: 0;
    margin: 0;
}

.menu-options li {
    display: block;
    margin: 20px 10px;

    writing-mode: vertical-lr;
    text-transform: uppercase;
}

.menu-options li:hover {
    cursor: pointer;
    animation: scale-up-center 1.5s ease-in-out 1s infinite alternate both;
}

.menu-options li a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    line-height: 2em;
    font-weight: 100;
}

.menu-options li[active] a {
    color: var(--primary-color-active);
    font-weight: 400;
}

.menu-options li:not([active]) a {
    transition: 1s;
}

.menu-options li:not([active]):hover a {
    color: transparent;
}

.menu-options li:not([active]) a::before {
    position: absolute;
    height: 0%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid var(--clr);
    
    content: attr(data-text);
    color: var(--clr);
    font-weight: 400;
    -webkit-text-stroke: 1px var(--clr);
    
    transition: 1s;
}

.menu-options li:not([active]):hover a::before {
    height: 100%;
    filter: drop-shadow(0 0 15px var(--clr));
}

/* Social Media */
.social-media {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.social-media i {
    font-size: 25px;
    margin-top: 15px;

    transition: 1s;
}

.social-media i:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--primary-color-active);
}

/* Right Side Menu */
#right-menu {
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: -5px 0 5px 6px black;

    transition: 1s;
}

#right-menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#right-menu div {
    writing-mode: vertical-lr;
    text-transform: uppercase;

    margin: 14px;
    padding-right: 5px;
}

#right-menu div:hover {
    cursor: pointer;
    color: var(--primary-color-active);
    animation: scale-up-center 1.5s ease-in-out 1s infinite alternate both;
}
